@import url("https://fonts.googleapis.com/css2?family=Sora&display=swap");
$primary-color:#212529;
$secondary-color:white;
$button-color:#ba181b;
$text-color:#161a1d;

html,
body {
  margin: 0;
  padding: 0;
  font-size: 16px;
  font-family: "Sora", sans-serif;
  color: $text-color;
  background-color: white;
  max-width: 100vw;
}
main {
  .nav {
    display: contents;
  }
  //Nav Styles
  nav {
    background-color: $primary-color;
    padding: 4% 2.5%;
    display:flex;
    justify-content: space-between;

    #icon_btn {
      border: 0;
      width:18px;
      background-color:inherit;
      cursor: pointer;
      .info_icon {
        width:18px;
        color: white;
      }
  
    }
    
    #import_btn{
      padding: 2%;
      color: white;
      border: 0;
      background-color: $button-color;
      transition: all 0.5s ease;
      cursor: pointer;
      &:hover {
        background-color: #660708;
      }
    }
  }
  header {
    display: flex;
    background-color: #161616;
   

    .btnDisabled {
      color:gray !important;
      background-color:#272727;
     
      svg {
        fill:gray !important;
      }
    }
    button {
      height: 100%;
      padding: 2% 2% 2% 5%;
      width:50%;
      color: white;
      border: 0;
      background-color: inherit;
      display: flex;
      flex-direction: row;
      transition: color 0.5s ease;
      align-items:center;

      svg {
        fill:white;
        width:20%;
      }

      p {
        margin:auto;
        font-family: "Sora", sans-serif;
        font-size:1.1em;
      }
    }
    #returnsBtn {
      border-right:1px solid #ebebeb;
    }
  }

  //Component Styles
  .comps {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color:#e9ecef;

    
    
    #histogram {
      height: 50vh;
      width:100%;
      margin-bottom:5%;
      z-index: 2;
      padding: 6% 0;
      background-color: $secondary-color;
      box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;

      
  
    }

    #stds {
      background-color: $secondary-color;
      z-index: 1;
      width: 100%;
      height: 100%;
      padding-bottom:4%;
      box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
      
      p {
        margin:6% 1%;
        box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
        padding:6% 4%;
        text-align:center;
      }
      .mean {
        height:50vh;
      }
    }

    #lineChart {
      height: 50vh;
      margin-bottom: 2%;
      width: 100%;
      padding-top: 2%;
      background-color: $secondary-color;
      box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
     
    }
  }

  .mobileTrue {
    display: contents;
  }
  .mobileFalse {
    display: none;
  }

  //Form Styles
  .pop {
    display: none;
  }
  .popUp {
    visibility: visible;
    opacity: 1;
    background-color: rgba(255, 255, 255, 0.7);
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: 0;
    z-index: 99999999999;
    -webkit-transition: all 1s;
    -moz-transition: all 1s;
    transition: all 1s;
  }

  

  .menu {
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    background-color: white;
    display: flex;
    flex-direction: column;
    margin: 20% 2% 10% 2%;
    padding: 2% 4% 5% 4%;
    border-radius: 10px;
    color:#011627;

    .info_menu {
      flex-direction:column;
      align-items: flex-start;
      .info_header {
        font-weight: bold;
        font-size: 16px;
        margin:0.5% 0 ;
      }
      .info_text {
        font-size:14px;
        margin:0.5% 0 ;
      }
  
    }
    span{
      display: flex;
      align-items: center;
      margin-bottom: 4%;
      #close {
        margin: 0 0 0 0.1%;
        width: 5%;
        background-color:#ddd9d9;
        border-radius: 10px;
        cursor: pointer;
        font-size: 14px;
        padding:1%;
        text-align: center;
        height: 20%;
      }
      h1 {
        margin: 0 0 1% 5%;
        margin-left:5%;
        font-size: 1.5em;
      }
    
      

    }
    

    small {
      font-size:12px;
      text-align:center;
      margin:0.5% 0;
    }
    .err {
      background-color:#ffc0c1;
      padding:2%;
      border-radius: 10px;
      font-size:14px;
    }
    .none{
      display: none;
    }
    
    #fileImg {
      margin:5% 0 ;
    }

   

    .buttons {
      display: flex;
      flex-direction: row;
      justify-content: center;
      margin: 6% 0;
      input {
        margin: auto;
      }
      select {
        margin: auto;
      }
    }
    #import {
      margin-top: 2%;
      display: flex;
      justify-content: center;
      button {
        margin-right: 5%;
        margin-left: 2%;
        padding: 2%;
        color: white;
        border: 0;
        background-color: $button-color;
        transition: all 0.5s ease;
        cursor: pointer;
        &:hover {
          background-color: #660708;
        }
      }
    }
  }
}

@media (min-width: 768px) {
  main {
    nav {
      button {
        padding: 1.5%;
      }
    }
    header {
     
     
  
      .btnDisabled {
        
        svg {
          fill:gray !important;
        }
      }
      button {
  
        svg {
          
          width:10%;
        }
      }
    }
    .comps {
      padding:0 5%;
      #returns {
       
        #stds {
          h1 {
            font-size: 1.2em;
          }
          canvas{
            padding:0 !important;
          }
        }
      }

     
    }

    .menu {

      margin: 15% 2% 10% 2%;
     
      
      span{
        display: flex;
        align-items: center;
        margin-bottom: 5%;
        #close {
          width: 4%;
          border-radius: 15px;
          cursor: pointer;
          font-size: 16px;
          padding:0.5%;
        }
        h1 {
          margin: 0 0 0 5%;
          font-size: 2em;
        }
      }
  
      small {
        font-size:14px;
      }
      
      #fileImg {
        margin:2% 0 ;
      }
  
      .buttons {
        margin: 4% 0;
      }
    }
  }
}

@media (min-width: 1024px) {
  main {
    display: flex;
    flex-direction: row;
    //Nav
    header {
      display: none;
    }
    

    nav {
      padding: 4% 1% 4% 1%;
      align-items:center;
      width:5%;
      flex-direction: column;
      align-items: center;
      
      #icon_btn {
        width:auto;
      }
      #import_btn {
        padding: 10%;
        color: white;
        border: 0;
        background-color: $button-color;
        transition: all 0.5s ease;
        cursor: pointer;
        &:hover {
          background-color: #660708;
        }
      }
    }

    //Components
    .comps {
      padding: 1.5% 0 1.5% 0;
      height: 100%;
      display:grid;
      width:95%;
      grid-template-columns: 45vw 45vw;
      grid-template-rows:50vh;
      align-items: start;

      .mobileFalse,.mobileTrue{
        display: contents !important;
      }

      #returns {
       
        display:flex;
        background-color:white;
        
        #histogram {
          height: 45vh;
          width: 90%;
          padding: 0;
          grid-row-start:1;
          grid-row-end:2;
          margin:1% 0 0 2%; 
        }
        #stds {

          width: 99%;
          height:92vh;
          margin-top: 1.5%;
          grid-column-start: 2;
          grid-column-end: 2;
          grid-row-start: 1;
          grid-row-end: 2;
          padding:0 ;
          display: flex;
          flex-direction: column;
          justify-content: center;
          
          p {
            margin:1.8% 1%;
            box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
            padding:2% 4%;
            text-align:center;
          }
          .mean {
            padding:0;
            canvas {
              padding:0;
            }
          }
        }
      }

      #lineChart {
        height: 45vh;
        width: 90%;
        padding:0;
        margin-bottom:0;
        margin-left:2%
      }
    }

    //Form
    .pop {
      display: none;
    }
    .popUp {
      display: block;
    }

    .menu {
      margin:2% auto;
      padding:2% 4% 4% 4%;
      border-radius:10px;
      width:50%;
      span{
        display: flex;
        align-items: center;
        margin-bottom: 1%;
        #close {
          width: 3%;
          border-radius: 20px;
          font-size: 16px;
          font-weight: bold;
          padding:1%;
          transition: all 0.5s ease;
          &:hover {
            background-color: #161616;
            color:#f9f9f9;
          }

        }
        h1 {
          margin:0 0 0 4%;
          font-size:2em;
        }
      }
  
      small {
        font-size:12px;
        text-align:center;
        margin:0.2% 0;
      }
      #fileImg {
        margin:2% 4% ;
      }
  
      #carousel {
        height:20em;
      }
  
      .buttons {
        display: flex;
        flex-direction: row;
        justify-content: center;
        margin: 2% 0;
        input {
          margin: auto;
          font-size:1em
        }
        select {
          margin: auto;
          font-size: 1em;
        }
      }
      #import {
        margin-top: 1%;
        display: flex;
        justify-content: center;
        button {
          margin-right: 5%;
          margin-left: 2%;
          padding: 1.5%;
          color: white;
          border: 0;
          background-color: $button-color;
          transition: all 0.5s ease;
          cursor: pointer;
          &:hover {
            background-color: #660708;
          }
        }
      }

    }
  }
}
